/*----------------------RESPONSIVE----------------------- */
@media screen and (max-width: 1024px) {
    header {
        max-height: 100px;
    }

    #safe {
        max-width: 150px;
        margin-right: 15px;
    }

    #by {
        margin: 24px 0 0 0;
        font-size: 1em;
    }

    #flex {
        max-width: 70px;
        margin-left: 15px;
        margin-right: 40px;
    }

    #nav1,
    #nav2 {
        font-size: 0.8em;
        padding: 0 10px 0 10px;
    }

    #btn-promo {
        font-size: 1em;
        padding: 5px 15px 5px 15px;
        margin-left: 10px;

    }

    #bloc3 {
        background: url(images/VISUEL_SAFE_ON.png) no-repeat;
        background-size: contain;
        width: 100%;
        font-size: 60%;
    }

    #bloc3-design-title {
        display: flex;
        margin: 20px 0 20px 0;
    }

    #price img {
        max-width: 100px;

    }

    #new {
        max-width: 70px;
    }

    footer {
        font-size: 80%;
    }

    #flex-white {
        max-width: 70px;
    }

    #pointeur {
        max-width: 15px;
        left: 50px;
    }
}

@media screen and (max-width: 834px) {
    #safe {
        max-width: 100px;
        margin-right: 5px;
    }

    #nav-flex {
        flex-direction: column;
    }

    #nav1,
    #nav2 {
        margin: 5px 0 5px 0;
    }

    #nav2 {
        border-left: none;
        border-top: solid 0.1em black;
        padding-top: 10px;
    }

    #video-form {
        flex-direction: column;
    }

    #video-bloc {
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        margin: 0;
    }

    #form1 {
        max-width: 100%;
        border-radius: 0 0 30px 30px;
        border-left: none;
        border-top: solid #f63443 0.1rem;
        ;
    }

    #promo img {
        max-width: 150px;
    }

    #promo h2 {
        font-size: 1.3em;
    }

    #bloc2 h2 {
        font-size: 1.2em;
    }

    #bloc2 p {
        font-size: 0.9em;
    }
}