* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;

}

/* ------------PARTIE HEADER----------- */
header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
}

#safe {
    max-width: 250px;
    margin-right: 15px;
}

#by {
    margin: 36px 0 0 0;
    font-size: 1.5em;
}

#flex {
    max-width: 130px;
    margin-left: 15px;
    margin-right: 90px;
}

nav {
    display: flex;
    align-items: center;
}

#nav-flex {
    display: flex;
}

#nav1,
#nav2 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

#nav2 {
    border-left: solid 0.2em black;
}

#btn-promo {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #f63443;
    border-radius: 15px;
    border: none;
    padding: 10px 25px 10px 25px;
    margin-left: 15px;

}

/* ------------PARTIE BLOC 1 ----------- */
#bloc1 {
    background: url(images/FOND_SAFE_ON.jpg);
    background-size: cover;
}

h1 {
    font-family: "Arial black";
    font-size: 3em;
    text-align: center;
    margin: 10px 0 0 0;
    padding-top: 30px;
}

#title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5px;
    letter-spacing: 1px;
}

#video-form {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    max-width: 90%;
}

#video-bloc {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 0 30px;
    max-width: 60%;
}

#video {
    max-width: 50%;
    height: auto;
}

#form1 {
    background-color: white;
    border-radius: 0 30px 30px 0;
    border-left: solid #f63443 0.3rem;
    max-width: 40%;
    padding: 0 10px;
    text-align: center;
}

#red {
    color: #f63443;
    font-family: "arial black"
}

#adress,
#store,
#quantity {
    width: 100%;
}

.form-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 0;
    color: #2e2e2e;
}

input {
    width: 47%;
    margin: 5px 0;
    height: 30px;
}

#checkbox {
    width: 5%;
}

.form-item-checkbox {
    width: 80%;
    display: flex;
    margin-top: 10px;
    margin: auto;
}

label {
    font-size: 0.7rem;
    text-align: justify;
    padding: 10px 0 0 10px;
}

.little {
    width: 80%;
    font-size: 0.6rem;
    text-align: start;
    margin: 20px auto;
}

#form1 #btn-promo {
    margin: 10px 0 30px 0;
    font-size: 1em;
    letter-spacing: 0.7px;
}

/* ------------PARTIE BLOC PROMO----------- */
#promo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(.25turn, #dc3e25, #f63443, #db0566);
}

#promo img {
    max-width: 250px;
    margin: 40px 40px 40px 0;
}

#promo h2 {
    font-size: 2em;
    font-style: italic;
    letter-spacing: 1px;
    border-bottom: white solid 0.1em;
    padding-bottom: 15px;
}

#underline {
    text-decoration: underline;
}

/* ------------PARTIE BLOC 2 ----------- */
#bloc2 {
    display: flex;
    justify-content: space-evenly;
}

#bloc2-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 40px 0;
    border: solid 0.1em rgb(230, 229, 229);
    box-shadow: -2px 2px 0 rgb(230, 229, 229);
    text-align: center;
}

#bloc2 h2 {
    font-size: 2em;
}

#bloc2-div img {
    width: 80%;
    margin: 30px 0;
}

#bloc2-div p {
    width: 55%;
    margin: 40px auto;
    color: #2e2e2e;

}

.bloc2-button {
    color: #f63443;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 15px;
    background-color: white;
    border: solid 0.1em #f63443;
    margin-bottom: 30px;
    padding: 10px 40px;
}

/* ----------PARTIE BLOC POP UP----------- */
#pop-up {
    position: fixed;
    top: 40vh;
    left: 50vh;
    display: none;
    width: 50%;
    margin: auto;
    border: solid 0.2em #f63443;
    color: white;
    background: linear-gradient(.25turn, #dc3e25, #f63443, #db0566);
    background-size: cover;
    padding: 10px;
}

#pop-up img {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 2rem;
    padding: 1rem;
    color: grey;
}

/* ------------PARTIE BLOC 3 ----------- */
#bloc3 {
    background: url(images/VISUEL_SAFE_ON.png) no-repeat;
    background-size: contain;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

#price {
    width: 50%;
}

#price img {
    max-width: 200px;
    position: relative;
    left: 60px;
    top: 150px;
}

#design {
    width: 50%;
    margin: 0 0 30px 40px;

}

#bloc3-design-title {
    display: flex;
    margin: 40px 0 40px 0;
}

#new {
    max-width: 150px;
    margin-left: 40px;
}

#bloc3-design-description {
    background: url(images/FOND_HEXAGONES.png);
    background-size: cover;
    padding-bottom: 30px;
}

#bloc3-design-description hr {
    width: 10%;
    margin: 0 auto 0 0;
}

#bloc3-design-description p {
    font-size: 1.3em;
    margin: 0 0 15px 0;

}

#bloc3-design-description #red {
    font-size: 1.4em;
}

.title-bloc3 {
    font-family: "arial black";
    font-size: 2em;
    margin: 0
}

/* ------------PARTIE BLOC 4 ----------- */
#bloc4 {
    background-color: #2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

#form2 {
    color: white;
    padding-top: 20px;
    width: 70%;
    margin: auto;
}

#form2 h2 {
    text-align: start;
}

#form2 .form-item {
    margin-bottom: 10px;
    width: 100%;
}

#form2 .form-item-checkbox {
    width: 100%;
}

#form2 input {
    color: #2e2e2e;
    font-style: italic;
    padding-left: 10px;
    border-radius: 5px;
    height: 35px;
}

.little2 {
    font-size: 0.8rem;
    text-align: start;
    margin: 20px auto;
}

#form2 #checkbox {
    width: 3%;
}

#form2 label {
    font-size: 0.8rem;
    text-align: justify;
    padding: 10px 0 0 10px;
}

#form2 #btn-promo {
    margin-bottom: 40px;
}

/*------------PARTIE FOOTER -------------*/
footer {
    background-color: black;
    color: white;
}

#footer-bloc1 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

#flex-white {
    max-width: 130px;
}

#connect a {
    color: white;
    font-weight: 800;
    font-size: 1.2em;

}

#pointeur {
    max-width: 20px;
    position: relative;
    top: 30px;
    left: 170px;
}

#link {
    display: flex;
    margin-top: 15px;
}

#link p {
    font-style: italic;
    margin-right: 20px;
}

#link img {
    max-width: 30px;
    margin: 0 5px 0 5px;
}

.gray {
    color: gray;
}

#footer-bloc2 {
    width: 95%;
    color: gray;
    border-top: solid gray 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    padding-bottom: 20px;
    margin: 20px auto 0 auto;
}

#footer-bloc2 a {
    color: gray;
    text-decoration: underline;
}

/*----------------------RESPONSIVE----------------------- */
@media screen and (max-width: 1024px) {
    header {
        max-height: 100px;
    }

    #safe {
        max-width: 150px;
        margin-right: 15px;
    }

    #by {
        margin: 24px 0 0 0;
        font-size: 1em;
    }

    #flex {
        max-width: 70px;
        margin-left: 15px;
        margin-right: 40px;
    }

    #nav1,
    #nav2 {
        font-size: 0.8em;
        padding: 0 10px 0 10px;
    }

    #btn-promo {
        font-size: 1em;
        padding: 5px 15px 5px 15px;
        margin-left: 10px;

    }

    #bloc3 {
        background: url(images/VISUEL_SAFE_ON.png) no-repeat;
        background-size: contain;
        width: 100%;
        font-size: 60%;
    }

    #bloc3-design-title {
        display: flex;
        margin: 20px 0 20px 0;
    }

    #price img {
        max-width: 100px;

    }

    #new {
        max-width: 70px;
    }

    footer {
        font-size: 80%;
    }

    #flex-white {
        max-width: 70px;
    }

    #pointeur {
        max-width: 15px;
    }
}

@media screen and (max-width: 834px) {
    #safe {
        max-width: 100px;
        margin-right: 5px;
    }

    #nav-flex {
        flex-direction: column;
    }

    #nav1,
    #nav2 {
        margin: 5px 0 5px 0;
    }

    #nav2 {
        border-left: none;
        border-top: solid 0.1em black;
        padding-top: 10px;
    }

    #video-form {
        flex-direction: column;
    }

    #video-bloc {
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        margin: 0;
    }

    #form1 {
        max-width: 100%;
        border-radius: 0 0 30px 30px;
        border-left: none;
        border-top: solid #f63443 0.1rem;
        ;
    }
}